html, body {
  background-color: #121212;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100vh;
}

li {
  list-style-type: none;
}

input {
  padding: 4%;
}

.div-log {
  margin-top: 3%;
  background-color: white;
}

.log {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  color: white;
}

.sub-title {
  text-align: center;
  padding: 2%;
}

.create-doctor-form {
  background-color: white;
  margin: 2%;
  padding: 2%;
}

.doctor-log {
  text-align: center;
  display: inline;
  margin: 3%;
}

.li-div {
  margin: 2%;
  padding: 2%;
}

.font-name {
  font-size: x-large;
}

.doctor-detail {
  margin: 3%;
  padding: 2%;
  background-color: white;
}